nav {
  width: 100%;
  height: 100px;
  background-color: #00332e;
  margin-top: 0%;
}
nav h1 {
  color: white;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  top: 18px;
  left: 10px;
  float: left;
}
/*sidebar */
.sidenav {
  height: 550px;
  background-color: #179185;
  float: left;
  position: relative;
  z-index: 1;
  margin-top: 20px;
  overflow-x: hidden;
  padding-top: 20px;
  width: 200px;
  font-family: sans-serif;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  margin-top: 15px;
  font-size: 25px;
  color: whitesmoke;
  display: block;
}

.sidenav a:hover {
  color: whitesmoke;
  background-color: #43bfad;
}
.sidenav a:active {
  background-color: #3a5fcd;
}

h2 {
  color: #fff;
  font-size: 18px;
  position: relative;
  text-decoration: none;
  float: left;
  margin-top: 30px;
  margin-right: 20px;
}
.btn {
  color: #fff;
  font-size: 18px;
  position: relative;
  text-decoration: none;
  float: right;
  margin-top: 30px;
  margin-right: 20px;
}
.search {
  float: right;
  margin-right: 15px;
  overflow-x: none;
  height: 48px;
  margin-top: 25px;
  /* main area */
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  width: 1000px;
  height: auto;
  margin-top: 30px;
  text-align: center;
}

.main-container p {
  margin-top: 30%;
  color: #001E1B;
  font-size: 1.5rem;
  margin-top: 80px;
}
.main-container p a {
  margin-top: 30%;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  margin-top: 80px;
}

.products {
  width: 400px;
  height: 200px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
}

.quantity {
  width: 400px;
  text-align: center;
  height: 200px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
}

/* Content */
#content {
  background: #faf9f9;
  padding-top: 50px;
  margin-left: 150px;
  margin-right: 2px;
  margin-bottom: 70px;
  width: 1000px;
}
#content .container {
  background: #ffffff;
  margin-left: 50px;
}
#content .container .item {
  width: 300px;
  float: left;
  text-align: center;
  margin-right: 5px;
}

#content .container .item img {
  width: 270px;
  height: 270px;
  margin-right: 5px;
}
.new {
  float: right;
  margin-top: 10px;
}

/*tables*/

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}
table {
  width: 1200px;
  height: 200px;
  margin-right: 80px;
  margin-left: 250px;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}
th {
  text-align: left;
  height: 3px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}
table,
th,
td {
  padding: 0.625em;
  text-align: center;
}
td.hide{
    display: none;
}
th,
td {
  padding: 10px;
  color: black;
}
tr {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 0.35em;
}
